*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
color:white;
scroll-behavior:smooth;
}

body{
background:#0a0a0a;
 animation-name: myAnimation;
animation-duration: 15s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
}  

@keyframes myAnimation{
    0%{
         background-color: #0a0a0a ;
    }
    20%{
         background-color: rgb(0, 0, 0);
    }
    40%{
         background-color: #0a0a0a;
    }
    60%{
        background-color: rgb(0, 0, 0);
    }
    80%{
       background-color: rgb(9, 9, 9);
    }
    100%{
        background-color: rgb(12, 12, 12);
    }
}
section{
padding:80px;
}


/* This is the navbar section */
nav{
width:100%;
height:12vh;
display:flex;
justify-content:space-between;
align-items:center;
background:rgba(0,0,0,0.3);
backdrop-filter:blur(10px);
position:fixed;
z-index:1000;
padding: 50px;
}

.logo p{
font-size:32px;
font-weight:bold;
}

nav ul{
display:flex;
gap:30px;
list-style:none;
}

nav a{
text-decoration:none;
font-size:18px;
}

nav a:hover{
color:#8b5cf6;
}

/* This is the header section */
header{
min-height:100vh;
min-width: 100%;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
text-align:center;
padding:120px;
gap:30px;
background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)),url("images/pexels-tima-miroshnichenko-6549584.jpg");
background-size:cover;
background-position:center;
background-repeat: no-repeat;
}

header h1{
font-size:95px;
line-height:110px;
}

.show-text{
font-size:20px;
line-height:35px;
color:#b4b4b4;
width:50%;
}

.show-buttons{
display:flex;
gap:20px;
}

.show-buttons button{
width:220px;
height:65px;
border-radius:50px;
background:#8b5cf6;
font-size:18px;
}




/* These are the floating circles an */
.floating-circle{
position:absolute;
border-radius:50%;
opacity:0.5;
animation:float 8s infinite;
}

.one{
width:300px;
height:300px;
background:#6c63ff;
top:10%;
left:5%;
}

.two{
width:250px;
height:250px;
background:#8b5cf6;
bottom:10%;
right:10%;
}

.three{
width:200px;
height:200px;
background:#3b82f6;
top:40%;
right:35%;
}

@keyframes float{

0%{
transform:translateY(0);
}

50%{
transform:translateY(-30px);
}

100%{
transform:translateY(0);
}

}


/* This is the about us section */

#about{
display:flex;
justify-content:space-between;
align-items:center;
gap:60px;
min-height:100vh;
}

.about-image{
min-height:500px;
min-width:500px;
border-radius:30px;
background-image:url("images/a72cc93c1e76afdb5fe54a5c9676b000.jpg");
background-size:cover;
background-position:center; 
}

.about-text{
display:flex;
flex-direction:column;
gap:25px;
}

.about-text h1{
font-size:65px;
line-height:75px;
}

.about-text p{
line-height:35px;
color:#b4b4b4;
}

.about-text button{
width:220px;
height:60px;
border-radius:40px;
background:#8b5cf6;
}


/* This is part of the about us section */
#why-section{
padding-top:20px;
}

.why-title{
text-align:center;
margin-bottom:50px;
}

.why-title h1{
font-size:60px;
}

.why-cards{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:25px;
}

.why-card{
background:transparent;
padding:35px;
border-radius:25px;
transition:0.3s ease;
}

.why-card:hover{
transform:translateY(-10px);
background:#181818;
box-shadow: 0 0 10px #a194a3,0 0 25px #d1bed1,0 0 40px #8c66a2;
}

.why-card i{
font-size:40px;
margin-bottom:20px;
color:#785db8;
}

.why-card h2{
margin-bottom:15px;
}

.why-card p{
color:#b4b4b4;
line-height:30px;
}



/* FIRST SECTION */

#first-section{
display:flex;
justify-content:space-between;
align-items:center;
gap:50px;
}

.planner-words,.planner{
height: 50%;
width: 60vh;
}

.planner-words{
display:flex;
flex-direction:column;
gap:40px;
}

.planner-paragraphs{
display:flex;
flex-direction:column;
gap:25px;
}

.planner-paragraphs h1{
font-size:60px;
line-height:70px;
}

.planner-paragraphs p{
line-height:35px;
color:#b4b4b4;
}

.planner-buttons{
display:flex;
gap:20px;
}

.planner-buttons button{
width:200px;
height:60px;
border-radius:40px;
background:#8b5cf6;
}

.planner-cards{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
}

.planner-card{
background:#111111;
padding:25px;
border-radius:20px;
text-align:center;
}

.planner-card i{
font-size:35px;
margin-bottom:20px;
color:#8b5cf6;
}

.planner-card p{
color:#b4b4b4;
}

.planner{
background:#111111;
padding:30px;
border-radius:25px;
display:flex;
flex-direction:column;
gap:20px;
}

/* This is the section to add task on the form */
#forth-section{
text-align:center;
}

.last-place{
margin-top:40px;
display:flex;
flex-direction:column;
align-items:center;
gap:40px;
}

.form{
background:#111111;
padding:40px;
border-radius:25px;
display:flex;
flex-direction:column;
gap:20px;
width:500px;
}

.form input{
height:60px;
border:none;
border-radius:40px;
background:#1a1a1a;
padding-left:20px;
}

.form button{
height:60px;
border-radius:40px;
background:#8b5cf6;
}
.task{
background:#111111;
padding:20px;
border-radius:20px;
width:500px;
text-align:left;
}

.task p{
color:#b4b4b4;
margin-top:10px;
}

/* This is my subject section */

.subject-title{
text-align:center;
margin-bottom:60px;
}

.subject-title h1{
font-size:60px;
margin-bottom:20px;
}

.subject-title p{
color:#b4b4b4;
}

.subjects-cards{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:25px;
}

.subject-card{
background:#111111;
padding:30px;
border-radius:25px;
display:flex;
flex-direction:column;
gap:20px;
}

.subject-card i{
font-size:45px;
color:#9272dd;
}

.subject-top{
display:flex;
justify-content:space-between;
align-items:center;
}

.subject-top span{
background:#9272dd;
padding:8px 15px;
border-radius:20px;
}

.subject-card p{
line-height:30px;
color:#b4b4b4;
}

.subject-progress{
width:100%;
height:10px;
background:#222;
border-radius:20px;
overflow:hidden;
}

.math-fill{
height:100%;
border-radius:20px;
background-color: #3b82f6;
}


.english-fill{
height:100%;
border-radius:20px;
background-color: #0af234;
width: 10%;
}


.accounting-fill{
height:100%;
border-radius:20px;
background-color: #f20abc;
width: 50%;
}


.subject-info{
display:flex;
justify-content:space-between;
align-items:center;
}


/* This is my motivation section */
#third-section{
display:flex;
flex-direction:column;
gap:50px;
}

.motivation{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:40px;
align-items:center;
}

.motivation-paragraphs{
display:flex;
flex-direction:column;
gap:25px;
}

.motivation-paragraphs h1{
font-size:70px;
line-height:85px;
}

.motivation-paragraphs p{
font-size:20px;
line-height:35px;
color:#b4b4b4;
}



.motivation-card{
background:#111111;
padding:25px;
border-radius:35px;
}

.in-card{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;
}

.inside-card{
background:#1a1a1a;
padding:25px;
border-radius:25px;
}


.quote-card p{
line-height:35px;
margin-top:15px;
}


.progress-bar{
width:100%;
height:12px;
background:#2a2a2a;
border-radius:20px;
}

.progress-math{
    background-color: #3b82f6;
}


#third-section h4{
font-size:45px;
text-align:center;
}

.motivate{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:25px;
}

.motivation-box{
background:#111111;
padding:30px;
border-radius:25px;
}

.motivation-box h3{
margin-bottom:15px;
}

.motivation-box p{
line-height:30px;
color:#b4b4b4;
}



/* This is the footer section */

footer{
background:#0d0d0d;
padding:70px 8%;
}

.footer-words{
display:flex;
justify-content:space-between;
gap:40px;
margin-bottom:50px;
}

.topic-footer,.footer-links,form{
display:flex;
flex-direction:column;
gap:20px;
}

.topic-footer h2{
font-size:40px;
}

.topic-footer p,.copyright{
color:#b4b4b4;
line-height:30px;
}

.footer-links li{
list-style:none;
}

.footer-links a{
text-decoration:none;
}

.footer-links a:hover{
color:#2b2143;
}

form{
background:#111111;
padding:30px;
border-radius:25px;
width:350px;
}

form input{
height:60px;
border:none;
border-radius:40px;
background:#1a1a1a;
padding-left:20px;
}

form button{
height:60px;
border-radius:40px;
background:#8b5cf6;
}

.social{
display:flex;
justify-content:space-between;
align-items:center;
margin-top:30px;
}

.media{
display:flex;
flex-direction:column;
gap:20px;
}

.social-icons{
display:flex;
gap:15px;
}

.social-icons a{
width:50px;
height:50px;
border-radius:50%;
background:#111111;
display:flex;
justify-content:center;
align-items:center;
text-decoration:none;
}

.social-icons a:hover{
background:#463374;
}

.copyright{
text-align:center;
margin-top:30px;
}


/* These are my media queries to make it responsive */
@media(max-width:1000px){

#about,#first-section,.motivation,.footer-words{
flex-direction:column;
display:flex;
}

.why-cards,.subjects-cards,.motivate{
grid-template-columns:repeat(2,1fr);
}

.show-text{
width:80%;
}

}

@media(max-width:700px){

nav{
flex-direction:column;
height:auto;
padding:20px;
gap:20px;
}

nav ul{
flex-wrap:wrap;
justify-content:center;
}

header h1{
font-size:55px;
line-height:70px;
}

header{
    min-width:115%;
    
}
.show-text{
width:100%;
}

.why-cards,.subjects-cards,.motivate,.in-card{
grid-template-columns:repeat(1, 1fr);
}

.quote-card{
grid-column:span 1;
}

.form{
width:100%;
}

.show-buttons{
flex-direction:column;
}

.social{
flex-direction:column;
gap:30px;
}

}